body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(50, 42, 42, 0.093);
}
#display{
    color: white;
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: blue;
}

#calculator{
    font-family: arial,sans-serif;
    background-color: black;
    border-radius: 50px;
    max-width: 500px;
    overflow: hidden;

}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}
.operator-btn{
    background-color: hsl(36, 66%, 50%);
}
.operator-btn:hover{
    background-color: hsl(36, 66%, 65%);
}
.operator-btn:active{
    background-color: hsl(36, 66%, 75%);
}